@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inconsolata', monospace;

}

button {
  text-decoration: none;
  color: black
}

.foo {
  font-size: 200px;
}

.glow {
  font-size: 200px;
}
